body {
    margin: 0px;
    padding: 0px;
}

.dropdown, .search-container {
    display: inline-block;
    vertical-align: middle;
}

.dropdown {
    width: 70%;
    text-align: right;
}

.logout {
    width: 70%;
    text-align: right;
    align-content: right;
}

#productInfo, #sellerInfo, #productImage {
    width: 320px;
    height: 550px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
}

#productImage {
    width: 320px;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    text-align: center;
}

img {
    width: 100%;
}