.header {
    padding: 50px;
}

.nav_logo {
	height: 25px;
	width: 25px;
}

.product_container {
	width: 100%;
}

.product_image {
	display: block;
	width: 100%;
	height: 100%;
}

.product_overlay {
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
}

.product_container:hover .product_overlay {
	opacity: 1;
}

.product_text {
	background-color: red;
	text-decoration: none;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.product_text:hover {
	text-decoration: none;
	background-color: black;
	color: white;
}

.center_align {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}
.right_align {
	margin-left: auto;
}

.nav_custom {
	background-color: white;
	border-bottom: 1px solid gray;
}

/*modal overlay*/
.modal_container {
	position: relative;
	width: 100%;
}

.modal_image {
	display: inline;
	width: 100%;
	height: auto;
}

.modal_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: white;
}

.modal_container:hover .modal_overlay {
	opacity: 1;
}

.modal_text {
	background-color: white;
	color: black;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.modal_text:hover {
	text-decoration: none;
	background-color: black;
	color: white;
}

.image_featured {
	width: 100%;
	height: auto;
}
.user_icon {
	height: 2.5rem;
	width: 2.5rem;
}
.right_align {
	margin-left: auto;
}

#buyLink, #sellLink {
	text-decoration: none;
}

#buyLink:hover, #sellLink:hover {
	color: lightgreen;
}