body {
    margin: 0px;
    padding: 0px;
}

.dropdown, .search-container {
    display: inline-block;
    vertical-align: middle;
}

.dropdown {
    width: 70%;
    text-align: right;
}

.logout {
    width: 70%;
    text-align: right;
    align-content: right;
}