.nav_logo {
	height: 25px;
	width: 25px;
}

.right_align {
	margin-left: auto;
}

.nav_custom {
	background-color: white;
	border-bottom: 1px solid gray;
}

.image_featured {
	width: 100%;
	height: auto;
}
.user_icon {
	height: 2.5rem;
	width: 2.5rem;
}