<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Unchained</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% load static %}
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'unchained_app/css/index.css' %}">
        {% load static %}
        <link rel="icon" href="{% static 'unchained_app/images/broken_chain.png' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light nav_custom">
            {% load static %}
            <a class="navbar-brand" href="/">Unchained <img class="nav_logo" src="{% static 'unchained_app/images/broken_chain.png' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if not "user_id" in request.session %}
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Login/Register</a>
                            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Login or Register</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!-- Form to send information to login or register user -->
                                        <div class="modal-body">
                                            <form action="/loginOrRegister" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label>Email address</label>
                                                    <input type="text" class="form-control" name="email" placeholder="Enter email">
                                                </div>
                                                <div class="form-group">
                                                    <label>Password</label>
                                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                                </div>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#editModal">Actions</a>
                            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">'<i>The greatest risk is not taking one.</i>'</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!-- Form to route to different user functions -->
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col" style="display: inline;">
                                                    <div class="modal_container">
                                                        {% load static %}
                                                        <img class="modal_image" src="{% static 'unchained_app/images/modal1.png' %}">
                                                        <a href="/addProduct">
                                                        <div class="modal_overlay">
                                                            <div class="modal_text">$ell</div>
                                                        </div>
                                                    </a>
                                                    </div>
                                                </div>
                                                <div class="col" style="display: inline;">
                                                    <div class="modal_container">
                                                        {% load static %}
                                                        <img class="modal_image" src="{% static 'unchained_app/images/modal2.png' %}">
                                                        <a href="/messages/{{request.session.user_id}}">
                                                        <div class="modal_overlay">
                                                            <div class="modal_text">Me$$ages</div>
                                                        </div>
                                                    </a>
                                                    </div>
                                                </div>
                                                <div class="col" style="display: inline;">
                                                    <div class="modal_container">
                                                        {% load static %}
                                                        <img class="modal_image" src="{% static 'unchained_app/images/modal3.png' %}">
                                                        <a href="/myProducts">
                                                        <div class="modal_overlay">
                                                            <div class="modal_text">My Product$</div>
                                                        </div>
                                                    </a>
                                                    </div>
                                                </div>
                                                <div class="col" style="display: inline;">
                                                    <div class="modal_container">
                                                        {% load static %}
                                                        <img class="modal_image" src="{% static 'unchained_app/images/modal4.png' %}">
                                                        <a href="/settings/{{request.session.user_id}}">
                                                        <div class="modal_overlay">
                                                            <div class="modal_text">$etting$</div>
                                                        </div>
                                                    </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile/{{request.session.user_id}}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    {% endif %}    
                </ul>
            </div>
        </nav>
        <div class="container text-center header">
            <h1>Un·chained</h1>
            <h4>/ˌənˈCHānˌDUH/</h4>
            <i>adjective</i>
            <p class="text-secondary">present tense: unchain; past participle: unchained</p>
            <p>To be set free.</p>
        </div>

        <div class="container">
            <h5 class="text-center font-weight-light" style="border-bottom: 1px solid gray">Browse the feed</h5>
            <div class="row center_align">
                <form id="ajaxForm" class="center_align"  action="" method="POST">
                    {% csrf_token %}
                    <input name="productName" class="mr-sm-2" style="border: 1px solid #ced4da; padding: .375rem .75rem; border-radius: .25rem;" type="search" placeholder="Product name" aria-label="Search">
                    <input name="brandName" class="mr-sm-2" style="border: 1px solid #ced4da; padding: .375rem .75rem; border-radius: .25rem;" type="search" placeholder="Brand" aria-label="Search">

                    <select name="categories" class="form-control" style="width: 140px; display: inline-block;">
                        <option selected value="">All Categories</option>
                        <option value="Tops">Tops</option>
                        <option value="Bottoms">Bottoms</option>
                        <option value="Shoes">Shoes</option>
                        <option value="Accessories">Accessories</option>
                    </select>

                    <select name="prices" class="form-control" style="width: 100px; display: inline-block;">
                        <option selected value="All Prices">All Prices</option>
                        <option value="10">Up to $10</option>
                        <option value="50">Up to $50</option>
                        <option value="100">Up to $100</option>
                        <option value="500">Up to $500</option>
                        <option value="500">Up to $1000</option>
                    </select>
                </form>
            </div>

            <div id="productPlace"></div>
            <!-- <div class="row">
                {% for product in products %}
                <div class="col-6">
                    <div class="product_container">
                        <a href="/product/{{product.id}}"><img class="product_image" src="../static/unchained_app/images2/{{ product.images.last.name }}"></a>
                        <div class="product_overlay">
                            <a href="/product/{{product.id}}" class="product_text">{{product.name}}</a>
                        </div>
                    </div>
                    <p class="font-weight-bold" style="margin-bottom: 0">{{product.brand}}</p>
                    <p>${{product.price}}</p>
                </div>
                {% endfor %}
            </div> -->
        </div>

        <script type="text/javascript">
            function getTableFromForm(){
                $.ajax({
                    url: '/index_search', 
                    method: "post",
                    data: $("#ajaxForm").serialize(),
                    success: function(response) {
                        $("#productPlace").html(response);
                        console.log(response)
                    }
                })
            }
            $(document).ready(function() {
                $.ajax({
                    url: '/index_products', 
                    method: "post",
                    data: $("#ajaxForm").serialize(),
                    success: function(response) {
                        $("#productPlace").html(response);
                        // console.log(response)
                    }
                })
            })
            $("input[name=productName], input[name=brandName]").keyup(function() {
                getTableFromForm();
            })
            $("select[name=categories], select[name=prices]").change( function() {
                getTableFromForm();
            })
        </script>
    </body>
</html>