<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Product name</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'unchained_app/css/product_page.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        {% load static %}
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'unchained_app/css/index.css' %}">
        {% load static %}
        <link rel="icon" href="{% static 'unchained_app/images/broken_chain.png' %}">
    </head>
<body>
<nav class="navbar navbar-expand-lg navbar-light nav_custom">
            {% load static %}
            <a class="navbar-brand" href="/">Unchained <img class="nav_logo" src="{% static 'unchained_app/images/broken_chain.png' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if not "user_id" in request.session %}
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Login/Register</a>
                            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Login or Register</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!-- Form to send information to login or register user -->
                                        <div class="modal-body">
                                            <form action="/loginOrRegister" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label>Email address</label>
                                                    <input type="text" class="form-control" name="email" placeholder="Enter email">
                                                </div>
                                                <div class="form-group">
                                                    <label>Password</label>
                                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                                </div>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#editModal">Actions</a>
                            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">'<i>The greatest risk is not taking one.</i>'</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!-- Form to route to different user functions -->
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col" style="display: inline;">
                                                    <div class="modal_container">
                                                        {% load static %}
                                                        <img class="modal_image" src="{% static 'unchained_app/images/modal1.png' %}">
                                                        <a href="/addProduct">
                                                        <div class="modal_overlay">
                                                            <div class="modal_text">$ell</div>
                                                        </div>
                                                    </a>
                                                    </div>
                                                </div>
                                                <div class="col" style="display: inline;">
                                                    <div class="modal_container">
                                                        {% load static %}
                                                        <img class="modal_image" src="{% static 'unchained_app/images/modal2.png' %}">
                                                        <a href="/messages/{{request.session.user_id}}">
                                                        <div class="modal_overlay">
                                                            <div class="modal_text">Me$$ages</div>
                                                        </div>
                                                    </a>
                                                    </div>
                                                </div>
                                                <div class="col" style="display: inline;">
                                                    <div class="modal_container">
                                                        {% load static %}
                                                        <img class="modal_image" src="{% static 'unchained_app/images/modal3.png' %}">
                                                        <a href="/myProducts">
                                                        <div class="modal_overlay">
                                                            <div class="modal_text">My Product$</div>
                                                        </div>
                                                    </a>
                                                    </div>
                                                </div>
                                                <div class="col" style="display: inline;">
                                                    <div class="modal_container">
                                                        {% load static %}
                                                        <img class="modal_image" src="{% static 'unchained_app/images/modal4.png' %}">
                                                        <a href="/settings/{{request.session.user_id}}">
                                                        <div class="modal_overlay">
                                                            <div class="modal_text">$etting$</div>
                                                        </div>
                                                    </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    {% endif %}    
                </ul>
            </div>
        </nav>
<div class="container mt-3">
	<div class="row">
        <div class="col">
	       <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      {% load static %}  
      <img class="d-block w-100" src="{% static 'unchained_app/images/ysl1.png' %}" alt="First slide">
    </div>
    <div class="carousel-item">
      {% load static %}
      <img class="d-block w-100" src="{% static 'unchained_app/images/ysl2.png' %}" alt="Second slide">
    </div>
    <div class="carousel-item">
        {% load static %}
      <img class="d-block w-100" src="{% static 'unchained_app/images/ysl3.png' %}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        </div>
	</div>
</div>
<div class="row">
    <div class="col">
        <div class="container">
        	<h1>{{product.name}}</h1>
            <p>Price: ${{product.price}}</p>
            <p>{{product.description}}</p>
        <!-- Place a modal for offer here -->
        {% if product.seller_id == user %}
            <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#editProductModal">Edit</a>
            <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <!-- Form to route to edit product -->
                        <div class="modal-body">
                            <form action="/edit/product/{{product.id}}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Name</label>
                                    {% if request.session.errors.name %}
                                        <p class="text-danger">{{request.session.errors.name}}</p>
                                    {% endif %} 
                                    <input type="text" class="form-control" name="name" value="{{product.name}}">
                                </div>
                                <div class="form-group">
                                    <label>Brand</label>
                                    {% if request.session.errors.brand %}
                                        <p class="text-danger">{{request.session.errors.brand}}</p>
                                    {% endif %} 
                                    <input type="text" class="form-control" name="brand" value="{{product.brand}}">
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    {% if request.session.errors.price %}
                                        <p class="text-danger">{{request.session.errors.price}}</p>
                                    {% endif %} 
                                    <input type="text" class="form-control" name="price" value="{{product.price}}">
                                    <small class="form-text text-muted">Omit the "$" sign</small>
                                </div>
                                <div class="form-group">
                                    <label>Category</label>
                                    {% if request.session.errors.category %}
                                        <p class="text-danger">{{request.session.errors.category}}</p>
                                    {% endif %} 
                                    <select class="form-control" name="category">
                                        <option>Tops</option>
                                        <option>Bottoms</option>
                                        <option>Shoes</option>
                                        <option>Accessories</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Images</label>
                                    <input type="text">
                                    <button class="btn btn-outline-success">Upload</button>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    {% if request.session.errors.description %}
                                        <p class="text-danger">{{request.session.errors.description}}</p>
                                    {% endif %} 
                                    <textarea class="form-control" name="description" rows="3">{{product.description}}</textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a href="/sold/{{product.id}}" class="btn btn-success">Sold</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <a class="btn btn-light" href="#" data-toggle="modal" data-target="#makeOfferModal" style="border-color: gray">Make an offer</a>
            <div class="modal fade" id="makeOfferModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Make Offer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <!-- Form to route to make offer -->
                        <div class="modal-body">
                            <form action="/offer/product/{{product.id}}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Offer</label>
                                    {% if request.session.errors.price %}
                                        <p class="text-danger">{{request.session.errors.price}}</p>
                                    {% endif %} 
                                    <input type="text" class="form-control" name="price" value="{{product.price}}">
                                    <small class="form-text text-muted">Omit the "$" sign</small>
                                </div>
                                <div class="form-group">
                                    <label>Message</label>
                                    {% if request.session.errors.message %}
                                        <p class="text-danger">{{request.session.errors.message}}</p>
                                    {% endif %} 
                                    <textarea class="form-control" name="message" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Make Offer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <div class="container">
        {% load static %}
            <img class="user_icon" src="{% static 'unchained_app/images/default_icon.png' %}">
            <h4 class="d-inline-block">{{user.username}}</h4>
            {% if rating != -1 %}
                <p>Rating: <span class="font-weight-bold">{{user.rating}}/5</span></p>
            {% else %}
                <p>Rating: <span class="font-weight-bold">N/A</span></p>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>